.navbar {
  background: linear-gradient(76.8deg, rgb(106, 37, 114) 3.6%, rgb(49, 43, 133) 90.4%);

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}